.single{
  min-height: 83vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.top{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.singleImage {
  width: 93%;
}

.bodyText {
  display: flex;
  flex-wrap: wrap;
  width: 93vw;
  max-width: 900px;
  text-transform: capitalize;
}

.capitalStart {
  text-transform: capitalize;
}

.singleBody{
  width: 80%;
}

.singleBody ul,
.singleBody ol{
  padding-left: 20px;
}
.singleBody a{
  color:rgb(4, 4, 227)
}
