.single {
  min-height: 83vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.newsPage {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 800px;
}
.newsPageDark {
  background-color: #252530;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 800px;
}

/* .top {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.singleImage {
  width: 90vw;
  max-width: 780px;
}

.bodyText {
  display: flex;
  flex-wrap: wrap;
  width: 93vw;
  max-width: 900px;
  text-transform: capitalize;
}

.capitalStart {
  text-transform: capitalize;
}

.tags {
  max-width: 400px;
  width: 80%;
}

.singleBody {
  width: 80%;
}

.singleBody ul,
.singleBody ol {
  padding-left: 20px;
}
.singleBody a {
  color: rgb(4, 4, 227);
}
