.filterSearchBar{
    position: fixed;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    background-color: rgb(248, 244, 244);
    padding: 2px 0;
}

.filterSearchList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 90%;
    max-width: 800px;

    font-size: smaller;
}


.searchInput{
    width: 70%;
    font-size: smaller; 
}

.searchOptions{
    font-size: smaller; 
}


