.filterSearchBar{
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: rgb(23, 6, 117);
}

@media screen and (min-width: 767){
    .filterSearchBar{
        position: fixed;
        left: 50%;
        transform: translate(-50%, 0);
    
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        background-color: rgb(23, 6, 117);
        padding: 2px 0;
    }
}

@media only screen and (max-width: 760px) {
    .filterSearchBar{
        position: fixed;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        background-color: rgb(23, 6, 117);
        padding: 2px 0;
    }
}

.filterSearchList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 90%;
    font-size: smaller;
}


.searchInput{
    width: 70%;
    font-size: smaller; 
}

.searchOptions{
    font-size: smaller; 
}

.filterSearchCriteria{
    padding: 0 2px;
    font-size: 14px;
    /*selected*/
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;

}
