.textarea{
    margin-top: 8px;
    margin-bottom: 8px;
    width: 90vw;
    max-width: 780px;
    height: 25vh;
    max-height: 400px;
}

.input{
    margin-top: 8px;
    margin-bottom: 8px;
    width: 70%;
}
.fileInput{
    margin: 8px;
    padding-bottom: 10px;
    width: 70%;
}

