.textarea,
.input,
.fileInput{
    width: 80vw;
    max-width: 600px;
}

.textarea{
    margin-top: 8px;
    margin-bottom: 8px;

    height: 25vh;
    max-height: 400px;
}

.input{
    margin-top: 8px;
    margin-bottom: 8px;
}
.fileInput{
    margin: 8px;
    padding-bottom: 10px;
}

.previewImg{
    width: 70vw;
    max-width: 400px;
}
