*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh; 
} 

.darkBody{
    background-color: #333;
}

.layout,
.layoutDark{
    height: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.scrollable{
    overflow-y: scroll;
}