*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh; 
} 

.layout{
    height: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.scrollable{
    overflow-y: scroll;
}