@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Roboto:ital,wght@0,500;1,400&display=swap');

:root{
    --titleFont:'Roboto', sans-serif;
    --textFont: 'EB Garamond', serif;
}

.view{
    height: 82vh;
    width: -webkit-fill-available;

    margin-top: 12vh;
    padding: 0 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    overflow-y: scroll;

    font-family: var(--textFont);
}

.hidden{
    visibility: hidden;
}

.show{
    visibility: visible;
}

.scrollable{
    overflow-y: scroll;
}