
.main{
    display: flex;
    flex-direction: column;
}

.view{
    height: 82vh;
    width: -webkit-fill-available;
    max-width: 950px;
    margin: 12vh 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    overflow-y: scroll;

    font-family: var(--textFont);
    position: relative;
}

.hidden{
    visibility: hidden;
}

.show{
    visibility: visible;
}

.scrollable{
    overflow-y: scroll;
}

::-webkit-scrollbar {
  /* width: 7px; */
  display: none;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #636262; 
}

::-webkit-scrollbar-thumb:hover {
  background: #272626; 
}