.view{
    height: 78vh;
    width: 90%;
    max-width: 800px;
    margin-top: 12vh;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    /* background-color: brown; */
    overflow-y: scroll;
}

.hidden{
    visibility: hidden;
}

.show{
    visibility: visible;
}