:root {
  --primary: purple;
  --execute: purple;
  --active: green;
  --neutral: grey;
  --warning:rgb(214, 123, 3);
  --danger: rgb(184, 5, 5);
}

.primary {
  border: none;
  background-color: var(--primary);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  text-shadow: 0 0 5px black;
  width: 200px;
  height: 30px;
}

.secondary,
.secondary-active,
.secondary-execute,
.secondary-danger,
.secondary-warning {
  border: none;
  background-color: var(--neutral);
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 95px;
  border-radius: 5px;
  margin: 10px;
  text-shadow: 0 0 5px black;
  padding:2px;
}

.secondary-active {
  background-color: var(--active);
}

.secondary-execute {
  background-color: var(--execute);
}

.secondary-danger {
  background-color: var(--danger);
}

.secondary-warning {
  background-color: var(--warning);
}

.terceary,
.terceary-not-selected,
.terceary-selected,
.terceary-display {
  padding: 1px 2px;
  font-size: 12px;
  border-color: white;
  color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  margin: 10px 0;
  background-color: rgba(2, 2, 75, 0);
  text-transform: uppercase;
}

.terceary-not-selected {
  border-color: black;
  color: black;
}

.dark-terceary-not-selected {
  border-color: white;
  color: white;
}

.terceary-selected {
  border-color: darkgreen;
  background-color: var(--active);
  color: white;

}

.terceary-display {
  border-color: white;
  color: white;
}
