:root {
  --primary: purple;
  --active: green;
  --neutral: grey;
  --warning:rgb(214, 123, 3);
  --danger: rgb(184, 5, 5);
}

.primary {
  border: none;
  background-color: var(--primary);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  text-shadow: 0 0 5px black;
  width: 200px;
  height: 30px;
}

.secondary,
.secondary-active,
.secondary-danger,
.secondary-warning {
  border: none;
  background-color: var(--neutral);
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 95px;
  border-radius: 5px;
  margin: 10px;
  text-shadow: 0 0 5px black;
}

.secondary-active {
  background-color: var(--active);
}

.secondary-danger {
  background-color: var(--danger);
}

.secondary-warning {
  background-color: var(--warning);
}

.terceary {
  padding: 0 2px;
  font-size: 14px;
  border-color: white;
  color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  margin: 17px 0;
  background-color: rgba(2, 2, 75, 0);
}
