.textEditorContainer,
.darkTextEditorContainer{
    display: flex;
    width: 86vw;
    max-width: 900px;
    flex-direction: column;
    margin-bottom: 10px;
}
.textEditorContainer{
    color:white;
}
.darkTextEditorContainer{
    color:black;
}